<div class="shop_container">
    <div class="shop_header">
        <div class="header_text">
            Yuletide's top pick.
        </div>
        <div class="subheader_text">
            Enjoy up to 25% discount.
        </div>
    </div>
    <div class="grid">
        <div class="sub_grid">
            <div class="sub_grid_container" routerLinkActive="active" routerLink="/learn-more">
                <div class="phone_header">
                    Era 20
                </div>
                <div class="phone_sub_header">
                    <p>Most advance ever created.</p>
                </div>

                <div class="phone_sub_header_text">
                    From $999.00 or $40.00/mo. for 24 mo. before trade-in.
                </div>
                
                <div class="image_container">
                    <img class="shopping_event_image" src="/assets/phone.png">
                </div>
            </div>
            <div class="sub_grid_container" routerLinkActive="active" routerLink="/learn-more">
                <div class="phone_header">
                    EG Ware
                </div>
                <div class="phone_sub_header">
                    <p>Built for creators.</p>
                </div>
                <div class="phone_sub_header_text">
                    From $2499.00 or $250.00/mo. for 24 mo. before trade-in.
                </div>
                
                <div class="image_container">
                    <img class="shopping_event_image img_laptop" src="/assets/laptop.png">
                </div>
            </div>
            <div class="sub_grid_container" routerLinkActive="active" routerLink="/learn-more">
                <div class="phone_header">
                    EG Gift Card
                </div>
                <div class="phone_sub_header">
                    <p>A card for everything.</p>
                </div>
                
                <div class="image_container">
                    <img class="shopping_event_image img_laptop" src="/assets/card.png">
                </div>
            </div>
        </div>
   
    </div>

    <div class="secondary_header">
        <div class="sec_header_text">
            Accessories. <span class="sec_header_sub_text">Shop now during our Shopping Event.</span>
        </div>
    </div>

    <div class="grid">
        <div class="sub_grid">
            <div class="sub_grid_container" routerLinkActive="active" routerLink="/learn-more">
                <div class="phone_header">
                    EG Keyboard
                </div>
                <div class="phone_sub_header">
                    <p>Most advance ever created.</p>
                </div>
                <div class="phone_sub_header_text">
                    From $2499.00 or $250.00/mo. for 24 mo. before trade-in.
                </div>
                
                <div class="image_container">
                    <img class="shopping_event_image_keyboard" src="/assets/keyboard.png">
                </div>
            </div>
            <div class="sub_grid_container" routerLinkActive="active" routerLink="/learn-more">
                <div class="phone_header">
                    Power bank
                </div>
                <div class="phone_sub_header">
                    <p>High capacity.</p>
                </div>
                
                <div class="image_container">
                    <img class="shopping_event_image img_powerbank" src="/assets/powerbank.png">
                </div>
            </div>
            <div class="sub_grid_container" routerLinkActive="active" routerLink="/learn-more">
                <div class="phone_header">
                    Watch strap
                </div>
                <div class="phone_sub_header">
                    <p>A card for everything.</p>
                </div>
                
                <div class="image_container">
                    <img class="shopping_event_image img_strap" src="/assets/watchStrap.png">
                </div>
            </div>
        </div>
   
    </div>
</div>