.container {
    min-height: 100vh;
    max-height: auto;
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
  
}

.header {
    position: absolute;
    margin-bottom: 10px;
  }
  
.main {
  min-height: 100vh;
  height: auto;
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(145, 22, 22);
  position: relative;
  display: block;
  
}
  
.footer {
  min-height: 100px;
  position: absolute;
  display: block;
  
}