<div class="container">
    

    <div class="phone">
        <div class="phone_header">
            EGware
        </div>
        <div class="phone_sub_header">
            Create your best.
        </div>
        <div class="sub_menu">
            <ul class="sub_options">
                
                <li class="sub_option">
                    <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">Learn more</a>
                </li>
                <li class="sub_option">
                    <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">BUY NOW</a>
                </li>
            </ul>
        </div>
        <div class="image_container">
            <img class="shopping_event_image" src="/assets/EG_ware1.jpg">
        </div>
    </div>

    <div class="laptop" >
        <div class="laptop_header">EGware 1</div>
        <div class="laptop_sub_header">Built for creators.</div>
        <div class="sub_menu">
            <ul class="sub_options">
                <li class="sub_option">
                    <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">Learn more</a>
                </li>
                <li class="sub_option">
                    <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">BUY NOW</a>
                </li>
            </ul>
        </div>
        <div class="image_container">
            <img class="shopping_event_image" src="/assets/laptop.png">
        </div>
    </div>

    <div class="grid">
        <div class="sub_grid">
            <div class="sub_grid_container">
                <div class="phone_header">
                    EGware 1A
                </div>
                <div class="phone_sub_header">
                    Small yet powerful.
                </div>
                <div class="sub_menu">
                    <ul class="sub_options">
                        
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">Learn more</a>
                        </li>
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">BUY NOW</a>
                        </li>
                    </ul>
                </div>
                <div class="image_container_grid">
                    <img class="image_grid_EGware1A" src="/assets/EGware1A.png">
                </div>
            </div>
            <div class="sub_grid_container">
                <div class="phone_header">
                   
                    EGware 2k19
                </div>
                <div class="phone_sub_header">
                   Simply amazing.
                </div>
                <div class="sub_menu">
                    <ul class="sub_options">
                        
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">Learn more</a>
                        </li>
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">BUY NOW</a>
                        </li>
                    </ul>
                </div>
                <div class="image_container_grid">
                    <img class="image_grid_EGware1A" src="/assets/EGware2k19.png">
                </div>
            </div>
        </div>

        <div class="sub_grid">
            <div class="sub_grid_container">
                <div class="phone_header">
                    EGware Plasma
                </div>
                <div class="phone_sub_header">
                    The lighter, the faster.
                </div>
                <div class="sub_menu">
                    <ul class="sub_options">
                        
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">Learn more</a>
                        </li>
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">BUY NOW</a>
                        </li>
                    </ul>
                </div>
                <div class="image_container_grid">
                    <img class="image_grid_EGware1A" src="/assets/EGwarePlasma.jpg">
                </div>
            </div>
            <div class="sub_grid_container">
                <div class="phone_header">
                    EGware X
                </div>
                <div class="phone_sub_header">
                    Master peice creator.
                </div>
                <div class="sub_menu">
                    <ul class="sub_options">
                        
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">Learn more</a>
                        </li>
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="/learn-more">BUY NOW</a>
                        </li>
                    </ul>
                </div>
                <div class="image_container_grid">
                    <img class="image_grid_EGwareX" src="/assets/EGware X.png">
                </div>
            </div>
        </div>
        
        
    </div>
</div>