<nav class="header">
    <div class="header_content">
        <ul class="header_list">
            <li class="header_item">
                <a class="header_link" href="/">
                    <img class="header_link_logo" src="/assets/elsa logo.svg">
                </a>
            </li>
            <li class="header_item">
                <a class="header_link" routerLinkActive="active" routerLink="store">
                    <span class="header_link_text">Shop</span>
                </a> 
            </li>
            <li class="header_item">
                <a class="header_link" routerLinkActive="active" routerLink="laptop">
                    <span class="header_link_text">Laptop</span>
                </a> 
            </li>
            <li class="header_item">
                <a class="header_link" routerLinkActive="active" routerLink="phone">
                    <span class="header_link_text">Phone</span>
                </a> 
            </li>
            <!-- <li class="header_item">
                <a class="header_link" routerLinkActive="active" routerLink="accessories">
                    <span class="header_link_text">Accessories</span>
                </a> 
            </li>
            
            <li class="header_item">
                <a class="header_link" routerLinkActive="active" routerLink="support">
                    <span class="header_link_text">Support</span>
                </a> 
            </li> -->
            
           
        </ul>
    </div>
    <!-- <div class="header_logo" routerLinkActive="active" routerLink="/" >
        <img width="40" src="/assets/elsa logo.svg">
    </div> -->
</nav>