<footer class="page_footer">
    <div class="footer_container">
        <nav class="breadcrumbs">

        </nav>
        <nav class="directory">

        </nav>
        <section class="footer">
            <div class="shop"></div>
            <div class="locale">
                Philippines
            </div>
            <div class="legal">
                <div class="copyright">
                    Copyright © 2022 EG Tech Inc. All rights reserved.
                </div>
                <div class="links">
                    <ul class="link_list">
                        <li>Privacy Policy</li>
                        <li>Terms of Use</li>
                        <li>Sales and Refunds</li>
                        <li>Legal</li>
                        <li>Site Map</li>
                    </ul>
                     
                </div>
            </div>
        </section>
    </div>
</footer>