<div class="container">
    <div class="shop_event">
        <div class="shop_header">
            EG Tech Shopping Event
        </div>
        <div class="shop_sub_header">
            Enjoy 25% discount using EG Gift Card!
        </div>
       
        <div class="shop_event_button">
            <a class="sub_option_link" routerLinkActive="active" routerLink="store">SHOP NOW</a>
        </div>
        <div class="image_container">
            <img class="shopping_event_image" src="/assets/event_logo.png">
        </div>
        
    </div>

    <div class="phone">
        <div class="phone_header">
            Era 20
        </div>
        <div class="phone_sub_header">
            Most advance smart phone ever created.
        </div>
        <div class="sub_menu">
            <ul class="sub_options">
                
                <li class="sub_option">
                    <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">Learn more</a>
                </li>
                <li class="sub_option">
                    <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">BUY NOW</a>
                </li>
            </ul>
        </div>
        <div class="image_container">
            <img class="shopping_event_image" src="/assets/phone.png">
        </div>
    </div>

    <div class="laptop" >
        <div class="laptop_header">EG Ware</div>
        <div class="laptop_sub_header">Built for creators.</div>
        <div class="sub_menu">
            <ul class="sub_options">
                <li class="sub_option">
                    <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">Learn more</a>
                </li>
                <li class="sub_option">
                    <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">BUY NOW</a>
                </li>
            </ul>
        </div>
        <div class="image_container">
            <img class="shopping_event_image" src="/assets/laptop.png">
        </div>
    </div>

    <div class="grid">
        <div class="sub_grid">
            <div class="sub_grid_container">
                <div class="phone_header">
                    Keyboard
                </div>
                <div class="phone_sub_header">
                    Most advance Smart phone ever created.
                </div>
                <div class="sub_menu">
                    <ul class="sub_options">
                        
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">Learn more</a>
                        </li>
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">BUY NOW</a>
                        </li>
                    </ul>
                </div>
                <div class="image_container_grid">
                    <img class="image_grid" src="/assets/keyboard.png">
                </div>
            </div>
            <div class="sub_grid_container">
                <div class="phone_header">
                    <img class="eg_logo" src="/assets/eg_logo.svg">
                    EG Gift Card
                </div>
                <div class="phone_sub_header">
                    Get up to 5% cash back with every purchase.
                </div>
                <div class="sub_menu">
                    <ul class="sub_options">
                        
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">Learn more</a>
                        </li>
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">Apply now</a>
                        </li>
                    </ul>
                </div>
                <div class="image_container_grid">
                    <img class="image_grid" src="/assets/card.png">
                </div>
            </div>
        </div>

        <div class="sub_grid">
            <div class="sub_grid_container">
                <div class="phone_header">
                    Displays
                </div>
                <div class="phone_sub_header">
                    Get up to 5% cash back with every purchase.
                </div>
                <div class="sub_menu">
                    <ul class="sub_options">
                        
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">Learn more</a>
                        </li>
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">BUY NOW</a>
                        </li>
                    </ul>
                </div>
                <div class="image_container_grid">
                    <img class="image_grid" src="/assets/display.png">
                </div>
            </div>
            <div class="sub_grid_container">
                <div class="phone_header">
                    eWatch
                </div>
                <div class="phone_sub_header">
                    Get up to 5% cash back with every purchase.
                </div>
                <div class="sub_menu">
                    <ul class="sub_options">
                        
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">Learn more</a>
                        </li>
                        <li class="sub_option">
                            <a class="sub_option_link" routerLinkActive="active" routerLink="learn-more">BUY NOW</a>
                        </li>
                    </ul>
                </div>
                <div class="image_container_grid">
                    <img class="image_grid" src="/assets/ewatch.png">
                </div>
            </div>
        </div>
        
        
    </div>
</div>